body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}


/** Navbar **/

.navbar-brand {
    font-family: 'Great Vibes', cursive;
    font-size: 32px;
    margin-top: 5px;
}

/** Form **/
.content {
	padding-top: 80px;
}

@media (max-width: 978px) {
    .content {
        padding-top: 110px;
    }
}

.panel-primary {
	width:80%;
	margin-left: 10%;
	margin-right: 10%;
}


.glyphicon{
    font-size:15px;
    padding-right: 10px;
}

.panel-footer {
	padding-right: 20px;
}

.col-xs-1{
    margin:10px;
}

.hello p{
    padding-left: 10px;
}

p{
    margin:10px;
}

.container-fluid{

    margin-bottom: 10px;
}